<a href="https://colab.research.google.com/github/nkumarmca/python_Prac/blob/main/List_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
list1=[1,2,3]
list2=[4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [2]:
list1.extend([7,8,9.5,"India"])
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9.5, 'India']

In [7]:
list3=[1,2,3,4,5,6]
print("list3 values before pop", list3)
list3.pop()
print("list3 values after pop", list3)
list3.pop(4)
print("list3 values after pop using index",list3)

list3 values before pop [1, 2, 3, 4, 5, 6]
list3 values after pop [1, 2, 3, 4, 5]
list3 values after pop using index [1, 2, 3, 4]

In [9]:
list3=[1,2,3,4,5,6]
print(list3[1:4])

[2, 3, 4]

In [24]:
list4=[1,1,13,4,1,6,4,3,2,5,8,9,1]
print("list4 values ", list4)
list4.reverse()
print("reverse order of the list using reverse() ", list4)
print("reverse order using indexing",list4[-13:])
list4.sort()
print("Sorted elements in the list ", list4)
list5=list4[3:10]
print("list5 values before clear() ", list5)
list5.clear()
print("list5 values after clear() ", list5)
print("Number of occurances of 1 in the list is ", list4.count(1))

list4 values  [1, 1, 13, 4, 1, 6, 4, 3, 2, 5, 8, 9, 1]
reverse order of the list using reverse()  [1, 9, 8, 5, 2, 3, 4, 6, 1, 4, 13, 1, 1]
reverse order using indexing [1, 9, 8, 5, 2, 3, 4, 6, 1, 4, 13, 1, 1]
Sorted elements in the list  [1, 1, 1, 1, 2, 3, 4, 4, 5, 6, 8, 9, 13]
list5 values before clear()  [1, 2, 3, 4, 4, 5, 6]
list5 values after clear()  []
Number of occurances of 1 in the list is  4

In [25]:
List=[]
for i in range(1,11):
  List.append(i**2)
print("Squares of 1 to 10 are ",List)

Squares of 1 to 10 are  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
List=[]
for i in range(1,11):
  if i%2==1:
    List.append(i**2)
print("Squares of odd numbers from 1 to 10 are ",List)

Squares of odd numbers from 1 to 10 are  [1, 9, 25, 49, 81]

In [28]:
#List Comprension
odd_squares=[i**2 for i in range(1,11) if i%2==1 ]
print(odd_squares)

[1, 9, 25, 49, 81]