<a href="https://colab.research.google.com/github/nkumarmca/python_Prac/blob/main/Python_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**While loop example**

In [7]:
# Demonstrating while loop for printing squares of odd numbers from 1 to 20
# else part is not mandatory
num=1
while(num<=20):
  print(f"{num} square is :",num**2)
  num=num+2
else:
  print("Execution Ended")

1 square is : 1
3 square is : 9
5 square is : 25
7 square is : 49
9 square is : 81
11 square is : 121
13 square is : 169
15 square is : 225
17 square is : 289
19 square is : 361
Execution Ended

**Write program to print fibbonocci series, capture value from user to print how many fibbonocci numbers required**

In [ ]:
# This is test program

**For Loop**

In [13]:
# Demonstrating For loop for printing squares of odd numbers from 1 to 20
# iteration starts form 1 to n-1 times.
num=1
for num in range(1,6):
  print(f"{num} square is :",num**2)

1 square is : 1
2 square is : 4
3 square is : 9
4 square is : 16
5 square is : 25

**In the above for loop, we cannot change the increment of num as by default num will be increased by 1. If we want to do custom increment, we need to use below syntax**

In [18]:
# Demonstrating how to do custom increment in for loop
# 3rd value in range() is tells that, how much we need to increase for each iteration.
# range() syntax: range(starting, ending, increment)
#else part is not mandatory
num=1
for num in range(1,21,2):
  print(f"{num} square is :",num**2)
else:
  print("\n\n Execution Ended")

1 square is : 1
3 square is : 9
5 square is : 25
7 square is : 49
9 square is : 81
11 square is : 121
13 square is : 169
15 square is : 225
17 square is : 289
19 square is : 361


 Execution Ended

**Loop Control Statements**

These control statements break, control, pass can modify the way of iteration of the loops.

In [23]:
#Demonstrating continue, if i want to print 1 to 10 and if the number is 5, I dont want to print
for i in range(1,10):
  if(i==5):
    continue
  print("i =", i)

i = 1
i = 2
i = 3
i = 4
i = 6
i = 7
i = 8
i = 9

In [25]:
#Demonstrating break, if i want to print 1 to 10 and if the number is 5, I dont want to print
for i in range(1,10):
  if(i==5):
    break
  print("i =", i)

i = 1
i = 2
i = 3
i = 4

In [26]:
# Demonstrating pass
# If we want any loop without any statement in any change just we need to use pass
for i in range(1,5):
  pass
else:
  print("Executed empty for loop")

Executed empty for loop