<a href="https://colab.research.google.com/github/nkumarmca/python_Prac/blob/main/Python_Functions_Arguments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Functions**

In [1]:
def myfun():
  print("Printing from myfun")

In [2]:
myfun()

Printing from myfun

In [3]:
def sum(a,b):
  return a+b


print(sum(2,3))

5

In [6]:
def my_fun(name,place):
  print(f'hi {name} !, Are you from {place} ?')

In [8]:
my_fun('Ramu','Kolkata')

hi Ramu !, Are you from Kolkata ?

In the above example, we have passed arguments (name,place). But, by chance we may send (place,name). To avoid this confusion we may use below format of calling.

In [12]:
my_fun('Vizag', 'Ravi')
print("*********************")
my_fun(place='Vizag', name='Ravi')

hi Vizag !, Are you from Ravi ?
*********************
hi Ravi !, Are you from Vizag ?

**Demonstrating default argument using A=Pi r**2**

In [15]:
def Cir_area(r,pi=3.14):
  return(pi*(r**2))

Cir_area(5)

78.5

In [24]:
#Demonstrating Default values using student details where name and rno will not change every time
def stud_details(marks1,marks2,rno=101,name='narasimharaju'):
  total=marks1+marks2
  print("Student Details are : \n")
  print(f' RNo: {rno}\n Name: {name}\n Marks1: {marks1}\n Marks2: {marks2}\n Total: {total}')

stud_details(80,85)

Student Details are :

 RNo: 101
 Name: narasimharaju
 Marks1: 80
 Marks2: 85
 Total: 165

In [25]:
stud_details(rno=102,name='Rambabu',marks1=65,marks2=77)

Student Details are :

 RNo: 102
 Name: Rambabu
 Marks1: 65
 Marks2: 77
 Total: 142

**Demonstrating Arbitrary Arguments**

**Arbitrary arguments means, we may not know how many values to be passed**

In [31]:
#Demonstrating Arbitrary arguments
def add_numbers(*nums):
  result=0
  count=0
  for i in nums:
    result=result+i
    count+=1
  print(f"Addition of {count} values is : {result}")

In [32]:
add_numbers(2,3,4)
add_numbers(5,8)

Addition of 3 values is : 9
Addition of 2 values is : 13

In [35]:
#Create a function to find the total bill which inculdes 10% of the Actual bill as tip
def Total_bill(bill,tip=0.10):
  total_bill=bill+(bill*tip)
  return total_bill

In [37]:
#Here I am passing only bill value.
bill1=Total_bill(2000)
print(f"Bill with default tip {bill1}")

#Here I am passing bill and tip also.
bill2=Total_bill(bill=3000,tip=0.20)
print(f'Bill with 20% tip is {bill2}')

Bill with default tip 2200.0
Bill with 20% tip is 3600.0