<a href="https://colab.research.google.com/github/nkumarmca/python_Prac/blob/main/Python_Loops_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Loop Assignments**

In [ ]:
#Create a list of 1 to 10
nums=[1,2,3,4,5,6,7,8,9,10]
#Capture number to find
n=int(input("Select a number from 1 to 10 :"))
#declare found value as False, if it is found in loop change it to True
found=False
for i in nums:
    if(i==n):
      found=True
      break
print(f'{n} is found in the list :',found)

Select a number from 1 to 10 :6
6 is found in the list : True

**Create a while loop to print the following series**


104,96,88,....8

Hint: Here we have taken a gap of 8 between the numbers.

In [ ]:
#Declare start value as 104
#Store the desired series in a list and print the list.

start=104
nums=[]
while(start>=8):
  nums.append(start)
  start-=8

print(nums)

[104, 96, 88, 80, 72, 64, 56, 48, 40, 32, 24, 16, 8]

**Take a sentence and print the each letter seperately except any two letters.**

sentence = " learn cloudyml data science program"

print letters except 'c', 'e', and white spaces.

In [ ]:
#store the sentence
sentc='learn cloudyml data science program'
chars=[]
for ch in sentc:
  if(ch!='c' and ch!='e' and ch!=' '):
    chars.append(ch)
print(chars)

['l', 'a', 'r', 'n', 'l', 'o', 'u', 'd', 'y', 'm', 'l', 'd', 'a', 't', 'a', 's', 'i', 'n', 'p', 'r', 'o', 'g', 'r', 'a', 'm']

**Write a program to find the sum of the digits of a number which taken from the user**

For ex: n =213

sum = 2+1+3 =6.

In [ ]:
#Capture number from user
num=int(input('Enter a number to find the sum of its digits :'))
number=num
sum=0
while(num>=1):
  n=num%10
  # make the number floor divisible by 10
  num=num//10
  #num=int(num/10)
  sum=sum+n

print(f"sum of the digits of the given number {number} is :",sum)

Enter a number to find the sum of its digits :555
5 55 5
5 5 10
5 0 15
sum of the digits of the given number 555 is : 15

In [ ]:
print(231%10)

1

**Given two lists of numbers, return all possible pairs of numbers in which the numbers from the first list is lesser than the number from second list**

[1,4,3,5,7,9,2]

[0,5,2,8,1]

Output: [1,5],[1,2],[1,8],[4,5]....

In [ ]:
#Declare two lists
list1=[1,4,3,5,7,9,2]
list2=[0,5,2,8,1]
list3=[]
#Compare the two lists using nested loop

for i in list1:
  for j in list2:
    if(i<j):
      #if the condition satisfied appending the elements to the new list

      list3.append([i,j])

print(list3)

[[1, 5], [1, 2], [1, 8], [4, 5], [4, 8], [3, 5], [3, 8], [5, 8], [7, 8], [2, 5], [2, 8]]

Declare a 3*2 matrix and multiply each number with 10's 100's and so on as per the row of the matrix. 1st row with 10, 2nd row with 100 and so on.

In [ ]:
#Declare a 3 by 2 matrix
matri=[[1,2],
       [3,4],
       [4,5]]
m=1
res=[]
for i in range(len(matri)):
  m=m*10
  for j in range(len(matri[i])):
    matri[i][j]=matri[i][j]*m

for k in matri:
  print(k)

[10, 20]
[300, 400]
[4000, 5000]

**Print prime number between 2 to 100**

In [ ]:
count=0
for i in range(2,100):
  for j in range(1,i+1):
    if(i%j==0):
      count+=1
  if(count<=2):
    print(i)

2
3

**First I have written code like above but unable to get the answer,because I made wrong by initialising count=0 at first. We need to make count=0 for each number. because if the number is divisible by 1 and the same number then only it is prime. so, if this condition is satisfied then count will be 2**

In [21]:
pr_num=[]
for i in range(2,100):
  count=0
  for j in range(1,i+1):
    if(i%j==0):
      count=count+1
  if(count<=2):
    pr_num.append(i)

print("List of prime numbers is :\n", pr_num)

List of prime numbers is :
 [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

**Write a program to check whether given number is prime or not**

In [27]:
num=int(input("Enter a value to check prime or not :"))
if num>1:
  print(f"Given value is {num}")
  count=0
  for i in range(1,num+1):
    if num%i==0:
      count+=1
  if(count==2):
    print(f'{num} is prime number')
  else:
    print(f'{num} is not prime number')
else:
  print('Please enter valid number to check')

Enter a value to check prime or not :123
Given value is 123
123 is not prime number